* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.titulo{
    background-color: #9BCCF7;
}

header {
    width: 100%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    background: #296EE8;
    position: absolute;
    top: 0px;
}

nav {
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #3FA3E8;
    bottom: 0; 
    position: absolute;
}

h2 {
    color: black;
    text-align: center;
}

p {
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: rgba(33, 33, 33, .9);
    display: block;
    font-family: sans-serif;
}


table,
tr,
td {
    border: 3px solid black;
    font-size: 20px;
    font-style: italic;
    font-family: serif;
    background: #86E2D5;
}

table {
    border-collapse: collapse;
}

nav#menu a {
    top: 3px;
    left: 500px;
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

section {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: inline-block;
    background: #BCE6E8;
    position: relative;
    top: 120px;
}

div.conteiner{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

footer {
    width: 900px;
    margin: -20px auto 0px auto;
    height: 50px;
    background: #BCE6E8;
}

input#resultado {
    width: 50px;
}

.alinhar {
    display: flex;
    vertical-align: middle;
    width: 700px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 100px;   
}

input#btnSubmit {
    width: 60px;
    height: 50px;
}


.resultado {
    display: block;
    padding-left: 200px;
    width: 600px;
}

input#resultNomeCurso {
    display: block;
    width: 600px;
    height: 150px;
}


/*#linkD, #linkA, #linkB, #linkC, #linkE {
    text-decoration: none;
    color: black;
    cursor: default;
    pointer-events: none;
}*/


.caixa-principal{
    display: inline-block;
    position: relative;
    padding: 2px;
}
.profissao{
    display: inline-block;
    padding: 2px;
}
. viagem{
    display: inline-block;
    padding: 2px;
}

